<footer style="margin-top:60px">
    <div style=text-align:center;">
        <p>All Rights Reserved</p>
        <p>KinBea Cosmetics Copyright 2022</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready( function () {
    let table = $('#table_id').DataTable({
        "lengthMenu": [ 50, 100, 200, 500, 1000 ]
    });

    table
    .column( '1:visible' )
    .order( 'asc' )
    .draw()

        let product_id = document.querySelectorAll("#product-id");
        let purchase_prices = document.querySelectorAll(".delete-item")

        let product_names = document.querySelectorAll(".product-name")
        let restocks = document.querySelectorAll(".restock-confirm")

        purchase_prices.forEach((purchase_price, i) => {
            purchase_price.addEventListener('click', ()=>{
            let product_id_single = product_id[i].value;
            let token = $("input[name=csrfmiddlewaretoken]").val();

            console.log(product_id_single);

            $.ajax({
                method: "POST",
                url: "/delete",
                data: {
                    product_id: product_id_single,
                    csrfmiddlewaretoken: token,
                },
                success: function (response) {
                    alertify.notify("Deleting")
                    location.reload();
                },
            });
        })
        })

        product_names.forEach((product_name, i) => {
            product_name.addEventListener('click', ()=>{
            let product_id_single = product_id[i].value;
            let selected_product = product_name.innerHTML.toString();
            let token = $("input[name=csrfmiddlewaretoken]").val();

            alertify.prompt('Update quantity', selected_product.toString(), 'Enter Quantity'
               , function(evt, value) {

                    $.ajax({
                        method: "POST",
                        url: "/update",
                        data: {
                            product_id: product_id_single,
                            csrfmiddlewaretoken: token,
                            quantity: value,
                        },
                        success: function (response) {
                            alertify.notify('Updating item');
                            location.reload();
                        },
                    });
                }
               , function() { alertify.error('Cancel') });

                console.log(product_id_single)
                console.log()


        })
        })

        restocks.forEach((restock, i) => {
            restock.addEventListener('click', () => {

                    let quantity = $("#quantity").val()
                    let purchase_price = $("#purchase-price").val()
                    let selling_price = $("#selling-price").val()

                    product_id = product_id[i].value;

                    console.log(quantity)
                    console.log(purchase_price)
                    console.log(selling_price)
                    console.log(product_id)

                    $("#exampleModal").modal('hide')

            })
        })

    } );
</script>
</body>
</html>