<footer style="margin-top:60px">
    <div style=text-align:center;">
        <p>All Rights Reserved</p>
        <p>KinBea Cosmetics Copyright 2022</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready( function () {
    $('#table_id').DataTable({
        "lengthMenu": [ 50, 100, 200, 500, 1000 ]
    });

    let table = $("#table_id").DataTable();

    table
    .column( '1:visible' )
    .order( 'asc' )
    .draw()

        let name = document.querySelectorAll(".product-name");
        let purchase_prices = document.querySelectorAll(".purchase-price")

        purchase_prices.forEach((purchase_price, i) => {
            purchase_price.addEventListener('click', ()=>{
            console.log(name[i].innerHTML);
            alert(name[i].innerHTML)
        })
        })
        console.log(name[0])
        alert(name[1]);

    } );
</script>
</body>
</html>