<footer style="margin-top:60px">
    <div style=text-align:center;">
        <p>All Rights Reserved</p>
        <p>KinBea Cosmetics Copyright 2022</p>
    </div>
</footer>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready( function () {
    let table = $('#table_id').DataTable({
        "lengthMenu": [ 50, 100, 200, 500, 1000 ]
    });

    table
    .column( '1:visible' )
    .order( 'asc' )
    .draw()

        let product_id = document.querySelectorAll("#product-id");
        let purchase_prices = document.querySelectorAll(".delete-item")

        let product_names = document.querySelectorAll(".product-name")

        purchase_prices.forEach((purchase_price, i) => {
            purchase_price.addEventListener('click', ()=>{
            let product_id_single = product_id[i].value;
            let token = $("input[name=csrfmiddlewaretoken]").val();

            console.log(product_id_single);

            $.ajax({
                method: "POST",
                url: "/delete",
                data: {
                    product_id: product_id_single,
                    csrfmiddlewaretoken: token,
                },
                success: function (response) {
                    alertify.notify("Deleting")
                    let table = $('#table_id').DataTable();

    table
    .column( '1:visible' )
    .order( 'asc' )
    .draw()
                },
            });
        })
        })

        product_names.forEach((product_name, i) => {
            product_name.addEventListener('click', ()=>{
            let product_id_single = product_id[i].value;
            let selected_product = product_name.innerHTML.toString();
            let token = $("input[name=csrfmiddlewaretoken]").val();

            alertify.prompt('Update quantity', selected_product.toString(), 'Enter Quantity'
               , function(evt, value) {

                    $.ajax({
                        method: "POST",
                        url: "/update",
                        data: {
                            product_id: product_id_single,
                            csrfmiddlewaretoken: token,
                            quantity: value,
                        },
                        success: function (response) {
                            let table = $('#table_id').DataTable();

    table
    .column( '1:visible' )
    .order( 'asc' )
    .draw()
                        },
                    });
                }
               , function() { alertify.error('Cancel') });

                console.log(product_id_single)
                console.log()


        })
        })

    } );
</script>
</body>
</html>