{% include 'header.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<body>
    <h2 style="text-align:center;">{{current_user.name}}({{current_user.role}})</h2>
    <p style="text-align:center;" >{{date}}</p>
    <p style="text-align:center;"><a href="{{url_for('logout')}}" style="text-align:center; text-decoration:none">(Log out)</a></p>
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">All Products in the shop </h1>
    <p class="lead">A list of all products in the shop.</p>
        <hr class="my-4">
        <a class="btn btn-outline-primary btn-lg" href="{{url_for('add_product')}}" role="button">Add Products</a>
        <a class="btn btn-outline-primary btn-lg" href="{{url_for('sold')}}" role="button">Products Sold</a>
  </div>
</div>
{% with message = get_flashed_messages() %}
  {% if message %}
      <p style="color:green">{{ message[0] }}</p>
  {% endif %}
{% endwith %}
    {% if products %}
<!--    <div style="width:50%; margin-bottom:30px;">-->
<!--        <form method="post" action="{{url_for('home')}}">-->
<!--            {{form.csrf_token}}-->
<!--            {{ form.category.label }}: {{ form.category() }}-->
<!--            {{form.submit()}}-->
<!--        </form>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--            <form style="width:30%; margin-bottom:30px; margin-left:auto; text-align:left" method="post" action="{{url_for('home')}}">-->
<!--            {{group_form.csrf_token}}-->
<!--            {{ group_form.group.label }}: {{ group_form.group() }}-->
<!--            {{form.submit()}}-->
<!--        </form>-->
<div class="table-responsive">
<table class="table table-dark table-striped" id="table_id">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Product</th>
        <th scope="col">Purchase Price</th>
      <th scope="col">Selling Price</th>
      <th scope="col">Total Quantity</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Quantity Sold</th>
        <th scope="col">Quantity Available</th>
        <th scope="col">Amount Sold</th>
        <th scope="col">Restock</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit Price</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <td>{{product.date}}</td>
        {% if product.quantity_left < 1 %}
        <td class="product-name">{{product.name}}</td>
        {% else %}
      <td> <a class="product-name" style="text-decoration:none;" href="{{url_for('update', product_id=product.id)}}" >{{product.name}}</a> </td>
        {% endif %}
        <input type="hidden" id="product-id" value="{{product.id}}">
        <td>₵{{product.purchase_price}}</td>
      <td class="purchase-price">₵{{product.selling_price}}</td>
        <td>{{product.total_quantity}}</td>
        <td>₵{{product.total_amount}}</td>
        <td>{{product.quantity_sold}}</td>
        {% if product.quantity_left > 0 %}
        <td>{{product.quantity_left}}</td>
        {% else %}
        <td style="color:red">Out of Stock</td>
        {% endif %}
        <td>₵{{product.amount_sold}}</td>
        <td> <a class="btn btn-sm btn-outline-success" href="{{url_for('restock', product_id=product.id)}}" >Restock</a> </td>
           {% if current_user.is_authenticated %}
        {% if current_user.role == 'Admin' %}
        <td><a class="delete-item" style="color:green; text-decoration:none;" href="#">🗑️</a></td>
        <td><a class="btn btn-sm btn-primary" style="color:white; text-decoration:none;" href="{{url_for('edit_price', product_id = product.id)}}">Edit Price</a></td>
        {% endif %}
        {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% else %}
    <h2>No stock added yet</h2>
{% endif %}
<h4>Total Cost: GH₵{{total}}</h4>
{% include 'footer.html' %}

